<template>
<div id="app">
  <router-view></router-view>
</div>
</template>
<style>
html, body {
  margin: 0;
  padding: 0;
  background-color:#e4e9ef;
}
#app {
  display: flex;
  /* height: 100%; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRHagfg55S4g9KNWsLr4KtUsEjFdv3QVI5AlzyOB9tbz8JDfMf') */
}
</style>
