<template>
<div class="container col-md-4 mt-5 " >

 <div class="card mb-5  col-md-12 mt-5 border border-secondary shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
        <center><h4 class="card-title text-secondary">Register</h4></center>

        <p class="alert alert-danger" v-if="errors['username']">{{ errors['username'] }}</p>
        <input type="text" class="form-control mb-2" placeholder="username" v-model="item.username" />

        <p class="alert alert-danger" v-if="errors['starting_date']">{{ errors['starting_date'] }}</p>
         <datepicker aria-placeholder="starting date" class="mb-2" v-model="item.starting_date"></datepicker>

         <div class="form-group">
        <p class="alert alert-danger" v-if="errors['days_avalible']">{{ errors['days_avalible'] }}</p>

         <p>Please choose at least on day per week </p>
         <div>
           <input type="checkbox" id="satuerday" value="6" v-model="item.days_avalible">
             <label for="satuerday">Satuerday</label>
         </div>
         <div>
            <input type="checkbox" id="sunday" value="7" v-model="item.days_avalible">
            <label for="sunday">Sunday</label>
        </div>
         <div>
          <input type="checkbox" id="monday" value="1" v-model="item.days_avalible">
           <label for="monday">Monday</label>
          </div>
         <div>
          <input type="checkbox" id="tuesday" value="2" v-model="item.days_avalible">
           <label for="tuesday">Tuesday</label>
          </div>
         <div>
          <input type="checkbox" id="wednesday" value="3" v-model="item.days_avalible">
           <label for="wednesday">Wednesday</label>
          </div>
         <div>
          <input type="checkbox" id="thuresday" value="4" v-model="item.days_avalible">
           <label for="thuresday">Thuresday</label>
        </div>
         <div>
          <input type="checkbox" id="friday" value="5" v-model="item.days_avalible">
           <label for="friday">Friday</label>
         </div>

      </div>

        <p class="alert alert-danger" v-if="errors['lecs_per_chapter']">{{ errors['lecs_per_chapter'] }}</p>
        <input type="text" class="form-control mb-2" placeholder="sessions Per chapter" v-model="item.lecs_per_chapter" />

        <input type="submit" @click="addItem"  class="btn btn-primary my-2 mx-2 float-right">
         <button  class="btn btn-secondary float-right my-2" @click="reset">Reset</button>
    </div>
</div>
</div>
</template>

<script>
import apiObject from '../api/api.js';
import datepicker from 'vue-date';
export default{
  data (){
    var todayDate = new Date();
    return {
      item : {
      days_avalible: [],
      username: '',
      starting_date: todayDate.toISOString().split('T')[0],
      lecs_per_chapter: ''
      },
      errors: []
          }
  },
  components: { datepicker },
   methods: {
     addItem () {
       var validate = this.checkForm();

       if(validate){
         apiObject.addItem(this.$http,this.item).then(function (response) {
          this.$store.dispatch('change_table',response.data);
           this.$store.dispatch('change_username',this.item.username);
            localStorage.table = response.data;
            this.$router.push('/items');
          }, function (response) {
            this.errors = response.data;
        });
          }
     },
     reset(){
      var todayDate = new Date();

      this.item = {
      days_avalible: [],
      username: '',
      starting_date: todayDate.toISOString().split('T')[0],
      lecs_per_chapter: ''
      }
     },
      checkForm: function () {

        this.errors = [];
      if (!this.item.username)
        this.errors['username'] =  'Username required.';
      if (!this.item.starting_date)
        this.errors['starting_date'] = 'Starting Date required.';
      if (!this.item.days_avalible.length)
        this.errors['days_avalible'] = 'Please choose at least one day.';
       if (!this.item.lecs_per_chapter)
        this.errors['lecs_per_chapter'] = 'Please enter number of sessions per chapter required.';
      if(isNaN(this.item.lecs_per_chapter) ){
       this.errors['lecs_per_chapter'] = 'Sessions Per chapter must be number.';
      }
      return  !this.errors['username']&!this.errors['starting_date']&!this.errors['days_avalible']&!this.errors['lecs_per_chapter'];

    }
  }
   }
</script>
