<template>
<div class="container mb-5 mt-5">
  <button  class="btn btn-secondary float-left my-2" @click="reset">Reset</button>
  <center>
  <h3 class="text-secondary"> lecutres timetable to {{ username }} </h3>
  </center>
  <v2-table
    class="mb-5 px-3 py-3 border border-secondary shadow-lg p-3 mb-5 bg-white rounded"
    :data="paginated_data"

    :total="total"
    :shown-pagination="true"
    :pagination-info="paginationInfo"
    @page-change="handlePageChange"
    >
    <v2-table-column label="#" prop="id"></v2-table-column>
    <v2-table-column label="Date" prop="date"></v2-table-column>
    <v2-table-column label="Day" prop="day_of_week" width="150"></v2-table-column>
    <v2-table-column label="Chapter" prop="chapter"></v2-table-column>
    <v2-table-column label="From" prop="time_from"></v2-table-column>
    <v2-table-column label="To" prop="time_to"></v2-table-column>
  </v2-table>
</div>
</template>

<script>
import {mapActions} from 'vuex';
import {mapGetters} from 'vuex';
  export default {
    data(){
         var pagination =  {skip: 0 , limit: 10 , current_page: 1};
         return {pagination};
     },
    computed: {
        lectures: function (){return this.$store.state.lectures},
        username: function (){return this.$store.state.username},
        total: function (){return this.lectures.length},
        paginationInfo: function (){return {text: '<span> &nbsp Showing <strong>'+ (this.pagination.skip + 1) +' to '+(this.pagination.skip + this.pagination.limit) +'</strong> total of  <strong>'+this.lectures.length+'</strong></span>'}
        },
        paginated_data: {
           get: function(){ return this.lectures.slice(this.pagination.skip ,this.pagination.skip + this.pagination.limit) },
           set: function(page){
               this.pagination.current_page = page;
               this.pagination.skip = (page - 1) * 10;
             }
           }
        },

    methods: {
      handlePageChange(page) {
          this.paginated_data = page;
      },
      reset(){
            this.$router.push('/');
      }
    }
  }
</script>
